<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
     <section name="Test_PA_Anagrafe.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="webServices" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </sectionGroup>
  </configSections>
  <microsoft.web.services2>
    <security>
      <securityTokenManager type="Unisys.CdR.WS.Infrastruttura.CustomUsernameTokenManager, Unisys.CdR.SOAPUtilities,Version=2.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" qname="wsse:UsernameToken"/>
    </security>
    <filters>
      <input>
        <add type="Unisys.CdR.Tracer.TraceSoapInputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </input>
      <output>
        <add type="Unisys.CdR.Tracer.TraceSoapOutputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </output>
    </filters>
    <diagnostics>
      <detailedErrors enabled="true"/>
      <trace enabled="true" input="C:\UnisysComponents\LOGS\PA_TRACE\InputTrace.txt" output="C:\UnisysComponents\LOGS\PA_TRACE\OutputTrace.txt"/>
      <policyTrace enabled="true" input="C:\UnisysComponents\LOGS\PA_TRACE\PolicyInput.txt" output="C:\UnisysComponents\LOGS\PA_TRACE\PolicyOutput.txt"/>
    </diagnostics>
    <policy>
      <cache name="policyCache.config"/>
    </policy>
  </microsoft.web.services2>
  <system.web>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="chiaveappconfig" value="TextBox1" />
	<add key="XSLTCRYPTED" value="1" />  
  </appSettings>
  <applicationSettings>
    <Test_PA_Anagrafe.My.MySettings>
      <setting name="Test_PA_Anagrafe_Stradario_Stradario" serializeAs="String">
        <value>http://10.173.2.131/pa/papublic/pri/stradario/stradario.asmx</value>
      </setting>
      <setting name="Test_PA_Anagrafe_PAVerifiche1_NVA" serializeAs="String">
        <value>http://localhost/PA/pri/Verifiche/nva.asmx</value>
      </setting>
    </Test_PA_Anagrafe.My.MySettings>
  </applicationSettings>
</configuration>