<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestPAWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <microsoft.web.services2>
    <diagnostics>
      <detailedErrors enabled="true"/>
      <policyTrace enabled="true" input="C:\Components\LOGS\PD_TRACE\PolicyInput.txt" output="C:\Components\LOGS\PD_TRACE\PolicyOutput.txt"/>
      <trace enabled="true" input="C:\Components\LOGS\PD_TRACE\InputTrace.txt" output="C:\Components\LOGS\PD_TRACE\OutputTrace.txt"/>
    </diagnostics>
    <policy>
      <cache name="policyCache.config"/>
    </policy>
    <security>
      <securityTokenManager type="Unisys.CdR.WS.Infrastruttura.CustomUsernameTokenManager, Unisys.CdR.SOAPUtilities,Version=2.1.0.0,Culture=neutral,PublicKeyToken=ac338a9b89966a58" qname="wsse:UsernameToken" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    </security> 
  </microsoft.web.services2>
  <log4net>
    <appender name="Msmq" type="Com.Unisys.Logging.MsmqAppender,Com.Unisys.Logging,Version=2.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f">
      <queueName>DIRECT=OS:.\PRIVATE$\pa</queueName>
      <backupQueueName>./pippo1</backupQueueName>
      <appName>pa</appName>
      <notifyError>True</notifyError>
      <eventLogName>pa</eventLogName>
      <layout type="log4net.Layout.XMLLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--<param name="File" value="C:\dev\INASAIA\Unisys.CdR.ESB.INASAIA.BizStarter\Unisys.CdR.ESB.INASAIA.BizStarter\bin\Debug\log\BizStarter.log"/>-->
      <param name="File" value="pa.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="MaxSizeRollBackups" value="3"/>
      <param name="MaximumFileSize" value="1MB"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%date{yyyy-MMM-dd HH:mm:ss}][%-5p][%c] %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!--<add key="PortalAccount" value="kzy0Vwhny92qhpcwlQj2vN385FhfSSB9KT3M3I0mXmc="/>
    <add key="PortalPassword" value="4/GlQCb56qrcsyr5y0oXovJsv9SQLKsXz5+LkR/Iek0="/>-->
    <add key="PortalAccount" value="kzy0Vwhny92qhpcwlQj2vN385FhfSSB9KT3M3I0mXmc="/>
    <add key="PortalPassword" value="4/GlQCb56qrcsyr5y0oXovJsv9SQLKsXz5+LkR/Iek0="/>
    <!-- <add key="URL" value="http://10.173.2.131/PA/PAPUBLIC/pri/Verifiche/nva.asmx"/>-->
    <add key="URL" value="http://10.173.2.133/PA/pri/Verifiche/nva.asmx"/>
    <add key="URLEVE" value="http://10.173.2.131/pa/papublic/pri/verifiche/eventi.asmx"/>
    <!--<add key="URL" value="http://localhost/PA/pri/Verifiche/nva.asmx"/>-->
    <add key="DBProfiles" value="Password=MANAGER;User ID=MANAGER;Data Source=MANAGER"/>
    <add key="SecurityToken" value="Security"/>
    <add key="SecurityTokenNameSpace" value="http://schemas.xmlsoap.org/ws/2003/06/secext"/>
    <add key="SecurityTokenPrefix" value="wsse"/>
    <!-- Configurazione filtro di tracciamento SOAP -->
    <add key="TraceSoapBaseFolder" value="C:\UnisysComponents\LOGS\PD_SOAP"/>
    <add key="TraceSoapInputFilename" value="SOAPin"/>
    <add key="TraceSoapOutputFilename" value="SOAPout"/>
    <add key="TraceSoapDefaultExtension" value=".xml"/>
    <add key="TraceSoapCounterFilter" value="1"/>
    <add key="TraceSoapHeaderOnly" value="0"/>
    <add key="wsstradario.stradario" value="http://localhost/pdnet/pub/stradario/stradario.asmx"/>
    <add key="NVA.asmx.NVA" value="http://10.173.2.131/PANOWS/pri/Verifiche/nva.asmx"/>
    <!-- <add key="NVA.asmx" value="http://10.144.8.238/PA/pri/Verifiche/nva.asmx"/>-->
    <!-- Tipo applicazione-->
    <add key="REFIDAPP" value="1"/>
    <!-- OLD- PANET, NEW- MAN-->
    <add key="SELECTDB" value="NEW"/>
  </appSettings>
  <connectionStrings/>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="AB055B029E002D95C00D45FF6977CAC982A742DF1051AE8A78502B0A88C72BE40BEBC777A3E94B402E8B65D33AE34335EC702480681E08034B3CCACBF757D146" decryptionKey="41B7D573EA8CD9D5B5744D43A6A03829A4458012540A950ED011A902BC0BA091" validation="SHA1" decryption="AES"/>
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sezione system.webServer è richiesta per eseguire ASP.NET AJAX in Internet
       Information Services 7.0. Non è necessaria per la versione precedente di IIS.
    -->
  <applicationSettings>
    <TestPAWeb.Properties.Settings>
      <setting name="TestPAWeb_EventiWS_Eventi" serializeAs="String">
        <value>http://localhost/pa/pri/verifiche/eventi.asmx</value>
      </setting>
      <setting name="TestPAWeb_WebReference_NVA" serializeAs="String">
        <value>http://10.173.2.131/PA/papublic/pri/Verifiche/nva.asmx</value>
      </setting>
    </TestPAWeb.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="2.102.2.20-9.999.9.9" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.net>
    <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>-->
</configuration>